@font-face {
  font-family: yekan;
  src: url("/font/persianFont/yekan-font/yekan-regular.woff");
  src: url("/font/persianFont/yekan-font/yekan-regular.ttf");
}
@font-face {
  font-family: vazir;
  src: url("/font/persianFont/vazir-font-v18.0.0/Vazir-Bold.woff");
  src: url("/font/persianFont/vazir-font-v18.0.0/Vazir-Bold.woff2");
}

body {
  font-family: yekan;
  font-style: oblique;
  font-weight: bolder;
  height: 100vh;
  background-color: rgb(237, 234, 234);
  text-align: center;
  direction: rtl;
  }



/* استایلهای مربوط به فرم ثبت نام */

.registerSection {
  width: 90%;
  background-color: white;
  padding: 20px;
  display: inline-block;
  text-align: justify;
  border: 1px solid black;
  border-radius: 15px;
  text-align: center;
}

.registerSection h1 {
  font-size: 20px;
  display: inline-block;
  background: linear-gradient(to right, #faff00, #00e0ff);
  background-clip: text;
  color: rgba(0, 0, 0, 0.258);
}


input[type="text"] {
  padding: 10px;
  width: 300px;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 8px;
  margin-left: 10px;
  font-family: inherit;
}


button {
  padding: 10px 20px;
  background-color: #007bff;
  border: none;
  border-radius: 8px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-family: inherit;
}

button:hover {
  background-color: #0056b3;
}

#output {
  margin-top: 20px;
  padding: 15px;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  line-height: 1.8;
}

p {
  margin: 10px 0;
}