@font-face {
  font-family: yekan;
  src: url("/assets/font/persianFont/yekan-font/yekan-regular.woff");
  src: url("/assets/font/persianFont/yekan-font/yekan-regular.ttf");
}
@font-face {
  font-family: vazir;
  src: url("/assets/font/persianFont/vazir-font-v18.0.0/Vazir-Bold.woff");
  src: url("/assets/font/persianFont/vazir-font-v18.0.0/Vazir-Bold.woff2");
}


body {
  font-family: yekan;
  background: #f0f0f0;
  padding: 30px;
  direction: rtl;
}

.container {
  background: white;
  max-width: 400px;
  margin: auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

li{
  border: 1px solid rgba(0, 34, 255, 0.682);
  padding: 10px;
  border-radius: 10px;
  margin-top:5px ;
}

form input, form select, form button ,button  {
  display: block;
  width: 90%;
  margin-bottom: 10px;
  padding: 10px;
  font-size: 1em;
  font-family: inherit;
  border: 1px solid gray;
  border-radius: 10px;
  margin-inline: auto;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}

button {
  background: #007bff;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background: #0056b3;
}

.overlay {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 9;
    transition: all 1s;
}

.modal {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 30px;
  border-radius: 10px;
  z-index: 10;
  min-width: 300px;
  max-width: 90%;
  transition: all 1s;
  width: 100vw;
}